@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-Principal: #C1C936;
    --clr-Secundario: #B4BA32;
    --clr-Fondo: #31312F;
    --clr-Fondo-Secundario: #141A37;
    --clr-Texto-Logo: #FFFFFF;
    --clr-Texto: Black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    padding-bottom: 6%;
}

h1 {
    background-image: linear-gradient(to right, #141A37, #C1C936, #31312F);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    color: transparent;
    font-weight: 600;
    font-size: 6rem;
    padding-bottom: 5%;
}

h2 {
    font-size: 2.3rem;
    text-align: center;
    color: var(--clr-Secundario);
    font-weight: 600;
}

h3 {
    font-size: 1.7rem;
    text-align: start;
    font-weight: 600;
}

h4 {
    color: var(--clr-Secundario);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

h5 {
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    height: auto;
}

.navbar {
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-light {
    background-color: var(--clr-Fondo);
}

.nav-link {
    color: var(--clr-Texto-Logo);
    font-weight: 600;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--clr-Principal);
}

.nav-item {
    position: relative;
}

.navbar-nav {
    gap: 50px;
}

.container-fluid {
    background-color: var(--clr-Fondo);
    padding-left: 2%;
    padding-right: 5%;
}

.navbar-brand {
    width: 45%;
    height: 10%;
    margin-inline-start: 5%;
}

.dropdown-menu {
    background-color: var(--clr-Fondo);
}

.dropdown-item {
    color: var(--clr-Texto-Logo);
    font-weight: 500;
    font-size: 1.15rem;
    transition: color 0.3s;
}

.dropdown-divider {
    background-color: var(--clr-Secundario);
}

.dropdown-item:hover {
    background-color: var(--clr-Secundario);
    color: var(--clr-Texto-Logo);
}

.btn {
    background-color: var(--clr-Principal) !important;
    color: var(--clr-Fondo);
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-Secundario);
}

.btn-lg {
    font-weight: 600;
    font-size: 2rem;
    transition: color 0.3s;
    transition: transform 0.3s;
    margin-left: 35%;
    color: var(--clr-Texto-Logo);
}

.btn-lg:hover {
    color: var(--clr-Texto-Logo);
    transform: scale(1.2);
}

.btn-lg-banner {
    font-weight: 600;
    font-size: 1.8rem;
    transition: color 0.3s;
    transition: transform 0.3s;
    color: var(--clr-Texto-Logo);
    top: 68%;
    left: 72%;
    position: absolute;
}

.btn-lg-banner:hover {
    color: var(--clr-Texto-Logo);
    transform: scale(1.2);
}

ion-icon {
    color: var(--clr-Texto-Logo);
    font-size: 30px;
    transition: color 0.3s;
}

ion-icon:hover {
    color: var(--clr-Secundario);
}

.imagen-portada {
    width: 100%;
    height: 817px;
    padding-top: 5%;
}

.banner-imagen {
    width: 23%;
    top: 49.2%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#texto-principal {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 11%;
    margin-right: 11%;
    text-align: justify;
    text-justify: inter-word;
}

.titulo-texto {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 8%;
    text-align: center;
}

.vertical-line-texto {
    height: 250px;
    border-left: 4px solid #C1C936;
}

.grid-container-aspectos {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(2, 2fr);
    padding-bottom: 6%;
    gap: 2%;
    margin-left: 3%;
}

.imagen-aspectos {
    width: 100%;
    height: 100%;
}

.grid-container-tarjetas {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 3fr);
    padding-bottom: 6%;
    gap: 2%;
}

.card-text {
    padding-top: 5%;
    padding-bottom: 8%;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 1rem;
    text-align: center;
}

.tarjetas-fondo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 16px;
    overflow-x: auto;
    padding-bottom: 6%;
}

.grid-container img {
    width: 100%;
    border-radius: 15%;
}

.big-quotes {
    font-size: 50px;
    color: var(--clr-Principal);
}

.video {
    width: 100%;
    margin-right: 3%;
    padding-bottom: 10%;
}

.container {
    background-color: var(--clr-Fondo);
    max-width: 100%;
}

.texto-footer {
    color: var(--clr-Texto-Logo);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: start;
}

.vertical-line {
    height: 600px;
    border-left: 2px solid white;
    margin-left: 60%;
}

.imagen-footer {
    width: 100%;
    height: 100%;
}

.footer-brand {
    width: 100%;
    height: 70%;
    margin-inline-start: 30%;
}

.redes-sociales {
    margin-inline-end: 10%;
}

.container-footer-final {
    background-color: var(--clr-Texto-Logo);
    text-align: center;
    align-content: center;
}

/* media queries */
/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    h3 {
        font-size: 1.7rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    p {
        padding-bottom: 3%;
    }

    .navbar-toggler {
        background-color: var(--clr-Secundario);
        margin-inline-end: 2%;
        size: 35px;
    }

    .imagen-portada-responsive {
        width: 100%;
        height: 720px;
        padding-top: 10%;
    }

    .banner-imagen {
        width: 33%;
        height: auto;
        top: 48.5%;
    }

    .btn-lg-banner {
        font-weight: 600;
        font-size: 1.2rem;
        transition: color 0.3s;
        transition: transform 0.3s;
        color: var(--clr-Texto-Logo);
        top: 69%;
        left: 69%;
        position: absolute;
    }

    .btn-lg-banner:hover {
        color: var(--clr-Texto-Logo);
        transform: scale(1.2);
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.7rem;
        transition: color 0.3s;
        transition: transform 0.3s;
        margin-left: 30%;
        margin-top: 6%;
        color: var(--clr-Texto-Logo);
    }

    .btn-lg:hover {
        color: var(--clr-Texto-Logo);
        transform: scale(1.2);
    }

    #encabezado {
        font-size: 5rem;
    }

    #texto-principal {
        padding-bottom: 4%;
        font-weight: 500;
        text-align: justify;
        text-justify: inter-word;
        width: 85%;
        margin-left: 7%;
    }

    .titulo-texto {
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 8%;
        text-align: center;
        margin-left: 2%;
    }

    .vertical-line-texto {
        height: 250px;
        border-left: 4px solid #C1C936;
    }

    .grid-container-aspectos {
        grid-template-columns: repeat(1, 2fr);
        justify-content: center;
    }

    .imagen-aspectos {
        width: 100%;
        height: 100%;
    }

    .grid-container-tarjetas {
        grid-template-columns: repeat(1, 3fr);
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 3%;
        margin-top: 5%;
        margin-bottom: 13%;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .grid-container {
        grid-template-columns: repeat(2, 4fr);
        grid-template-rows: auto;
        justify-items: center;
        width: 100%;
        padding-top: 8%;
        padding-bottom: 11%;
    }

    .grid-container img {
        width: 100%;
        border-radius: 15%;
    }

    .container {
        background-color: var(--clr-Fondo);
        width: 100%;
        text-align: justify;
    }

    .container-texto {
        margin-left: 5%;
        gap: 2%;
        display: flex;
    }

    .container-footer-final {
        background-color: var(--clr-Texto-Logo);
        text-align: center;
        align-content: center;
        font-size: 1.3rem;
        width: 100%;
    }

    .texto-footer-responsive {
        padding-bottom: 6%;
    }

    .texto-footer {
        color: var(--clr-Texto-Logo);
        font-weight: 600;
        font-size: 1.7rem;
        text-align: left;
    }

    .vertical-line {
        height: 1px;
        border-left: 2px solid white;
        visibility: hidden;
    }

    .imagen-footer {
        width: 80%;
        height: 100%;
    }

    .footer-brand {
        width: 100%;
        height: 80%;
        margin-left: 5%;
    }

    .footer-responsive-text {
        text-align: center;
        justify-content: center;
        margin-left: 5%;
    }

    .redes-sociales {
        text-align: center;
        justify-content: center;
        margin-left: 5%;
        margin-bottom: 8%;
    }
}

/* Celular */
@media (min-width: 350px) and (max-width: 767.98px) {
    h3 {
        font-size: 1.7rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 8%;
        margin-top: 8%;
    }

    .navbar-toggler {
        background-color: var(--clr-Secundario);
        margin-inline-end: 2%;
        size: 35px;
    }

    .btn-lg-banner {
        visibility: hidden;
    }

    .imagen-portada-responsive {
        width: 100%;
        height: 500px;
        padding-top: 13%;
    }

    .banner-imagen {
        width: 36.5%;
        height: auto;
        top: 33.5%;
    }

    #encabezado {
        font-size: 4rem;
    }

    #texto-principal {
        padding-top: 4%;
        padding-bottom: 4%;
        margin-left: 7%;
        font-weight: 500;
        text-align: justify;
        text-justify: inter-word;
        width: 85%;
    }

    .titulo-texto {
        font-size: 1.7rem;
        font-weight: 600;
        padding-bottom: 8%;
        text-align: center;
    }

    .vertical-line-texto {
        height: 220px;
        border-left: 4px solid #C1C936;
    }

    .btn-lg {
        font-weight: 600;
        font-size: 1.3rem;
        transition: color 0.3s;
        transition: transform 0.3s;
        margin-top: 8%;
        margin-bottom: 2%;
        margin-left: 18%;
        color: var(--clr-Texto-Logo);
    }

    .btn-lg:hover {
        color: var(--clr-Texto-Logo);
        transform: scale(1.2);
    }

    .grid-container-aspectos {
        grid-template-columns: repeat(1, 2fr);
        justify-content: center;
        width: 100%;
    }

    .imagen-aspectos {
        width: 100%;
        height: 100%;
    }

    .grid-container-tarjetas {
        grid-template-columns: repeat(1, 3fr);
        display: grid;
        text-align: center;
        justify-content: center;
        gap: 3%;
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .card-text {
        padding-top: 5%;
        padding-bottom: 8%;
        padding-right: 3%;
        padding-left: 3%;
        font-size: 1rem;
        text-align: center;
    }

    .tarjetas-fondo {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

    .grid-container {
        grid-template-columns: repeat(1, 4fr);
        grid-template-rows: auto;
        justify-content: center;
        width: auto;
        padding-left: 1.5%;
        padding-right: 2%;
        padding-bottom: 11%;
    }

    .grid-container img {
        width: 100%;
        border-radius: 15%;
    }

    .container {
        background-color: var(--clr-Fondo);
        width: 100%;
        text-align: left;
    }

    .container-texto {
        gap: 1%;
        display: flex;
    }

    .texto-footer-responsive {
        padding-bottom: 6%;
    }

    .container-footer-final {
        background-color: var(--clr-Texto-Logo);
        text-align: center;
        align-content: center;
        font-size: 0.9rem;
        width: 100%;
    }

    .texto-footer {
        color: var(--clr-Texto-Logo);
        font-weight: 600;
        font-size: 1.4rem;
        text-align: left;
    }

    .texto-footer-responsive {
        padding-bottom: 8%;
    }

    .vertical-line {
        height: 1px;
        border-left: 2px solid white;
        visibility: hidden;
    }

    .imagen-footer {
        width: 100%;
        height: 100%;
    }

    .imagen-footer-responsive {
        width: 100%;
        height: 100%;
    }

    .footer-brand {
        width: 50%;
        height: 10%;
        margin-left: 27%;
    }

    .footer-responsive-text {
        text-align: center;
        justify-content: center;

    }

    .redes-sociales {
        text-align: center;
        justify-content: center;
        margin-left: 15%;
        margin-bottom: 8%;
    }
}
